:root {
    --color-black: #000;
    --color-white: #fff;
    --color-red: #e41616;
    --color-grey-light: #dcdcdc;
    --color-grey-dark: #9d9d9d;
}

.is-hidden {
    display: none;
}

.collection-products__container {
    max-width: 1680px;
    margin: 0 auto;
}

.collection-products__wrapper {
    display: grid;
    grid-template-columns: 400px 1fr;
    align-items: flex-start;
    padding: 32px 16px;
    gap: 16px;
}

.collection-products__banner {
    position: relative;
    height: 0;
    padding-top: 145.5%;
    overflow: hidden;
    border-radius: 16px;
}

.collection-products__banner::after {
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 132px;
    background: linear-gradient(
        180deg,
        rgb(from var(--color-black) r g b / 0) 0%,
        rgb(from var(--color-black) r g b / 0.5) 100%
    );
    content: '';
}

.collection-products__banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection-products__overlay {
    display: flex;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 50%;
    row-gap: 12px;
    flex-direction: column;
    align-items: center;
    padding: 0 24px 23px;
    transform: translateX(-50%);
    color: var(--color-white);
}
.collection-products__overlay-title {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.18;
    word-break: break-word;
    transition: all 150ms ease 0s;
}

.collection-products__overlay-count {
    font-size: 16px;
    line-height: 1.38;
}

.collection-products__list {
    width: 100%;
    padding-bottom: 32px;
}

.collection-products__list-wrapper {
    display: flex;
    align-items: flex-start;
}


.collection-products__product-card-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    height: auto;
}

.collection-products__list:not(.swiper-initialized) .collection-products__list-wrapper {
    gap: 16px;
    overflow-x: auto;
}

.collection-products__list .swiper-button {
    display: flex;
    top: 0 ;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 64px;
    margin: 0 auto;

    margin-top: calc(33.33% / 2 - 32px);
    padding: 24px 16px;
    transform: translateY(27px);
    border: 1px solid var(--color-grey-ligh);
    border-radius: 12px;
    background-color: var(--color-white);
}

.collection-products__list .swiper-button-prev {
    left: 19px;
}

.collection-products__list .swiper-button-next {
    right: 19px;
}

.collection-products__list .swiper-button svg {
    fill: none;
}

.collection-products__list .swiper-pagination {
    position: relative;
    bottom: -25px;
}

.collection-products__list .swiper-pagination-bullet {
    margin: 0 8px;
    border-radius: 4px;
}
.collection-products__list .swiper-pagination-bullet-active {
    width: 24px;
    background: var(--color-black);
}

.collection-products__list.swiper:not(.swiper-initialized) .swiper-button,
.collection-products__list .swiper-button.swiper-button-lock,
.collection-products__list .swiper-pagination-lock {
  display: none;
}

@media (max-width: 1199px) {
    .collection-products__product-card-item {
        width: calc(100% / 2);
    }

    .collection-products__list .swiper-button {
        margin-top: calc(50% / 2 - 32px);
    }
}

@media (max-width: 991px) {
    .collection-products__wrapper {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .collection-products__product-card-item {
        width: calc(100% / 3);
    }

    .collection-products__banner {
        padding-top: 125.073%;
    }

    .collection-products__list .swiper-button {
        margin-top: calc(33.33% / 2 - 32px);
    }
}

@media (max-width: 767px) {
    .collection-products__overlay {
        row-gap: 11px;
        padding-bottom: 24px;
    }

    .collection-products__overlay-title {
        font-size: 18px;
        line-height: 1.22;
    }

    .collection-products__product-card-item {
        width: calc(100% / 2);
    }

    .collection-products__list .swiper-button {
        width: 35px;
        height: 44px;
        margin-top: calc(50% / 2 - 22px);
        padding: 14px 9px;
    }
}