:root {
    --color-black: #000;
    --color-white: #fff;
}

body {
    font-weight: var(--font-primary--weight);
    font-size: 16px;
    line-height: 1.5;
}

section ~ section {
    margin-top: 40px;
}

.my-image-with-text {
    padding: 32px 16px;    
}

.my-image-with-text__container {
    margin: 0 auto;
    max-width: 1680px;
}

.my-image-with-text__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 24px 16px;
}

.my-image-with-text__media {
    position: relative;
    height: 0;
    overflow: hidden;
    border-radius: 16px;
    padding-top: 73.53%;
}
.my-image-with-text__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.my-image-with-text__content {
    display: flex;
    row-gap: 16px;
    flex-direction: column;
    align-items: flex-start;
}

.my-image-with-text__heading {
    color: var(--color-black);
    font-weight: 500;
    font-size: 38px;
    line-height: 1.211;
    word-break: break-word;
}

.my-image-with-text__subheading {
    color: var(--color-black);
    font-weight: 500;
    word-break: break-word;
}
.my-image-with-text__text {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 16px; 
}

.my-image-with-text__btn-link {
    margin-top: 16px;
    padding: 15px 32px;
    border: 1px solid var(--color-black);
    border-radius: 32px;
    color: var(--color-black);
    font-weight: 500;
    text-decoration: none;
    transition: all 300ms ease 0s;
}
.my-image-with-text__btn-link:hover {
    color: var(--color-white);
    background-color: var(--color-black);
}

@media (min-width: 992px) {
    .my-image-with-text__content {
        padding: 24px 48px;
    }
    .my-image-with-text__content--revers {
        grid-row: 1;
    }
}

@media (max-width: 991px) {
    .my-image-with-text__wrapper {
        grid-template-columns: 1fr;
    }
    .my-image-with-text__media {
        padding-top: 75.8%;
    }

    .my-image-with-text__heading {
        font-size: 28px;
        line-height: 1.214;
    }

    .my-image-with-text__btn-link {
        margin-top: 8px;
    }
}