:root {
    --color-black: #000;
    --color-white: #fff;
    --color-red: #e41616;
    --color-grey-light: #dcdcdc;
    --color-grey-dark: #9d9d9d;
}

.product-card {
    display: flex;
    row-gap: 16px;
    flex-direction: column;
}

.product-card__media {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
}

.product-card__picture:not(.is--visible) {
    display: none;
}

.product-card__img {
    aspect-ratio: 1;
    width: 100%;
    object-fit: cover;
}

.product-card__swatches {
    display: flex;
    gap: 4px;
}

.product-card__btn-swatch {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    width: 20px;
    padding: 4px;
    border: 0;
    border-radius: 4px;
    background-color: var(--color-white);
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    transition: all 150ms ease 0s;
}

.product-card__btn-swatch img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
}
.product-card__btn-swatch span {
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.product-card__btn-swatch.is--active {
    box-shadow: inset 0 0 0 1px var(--color-black);
}
@media (hover: hover) {
    .product-card__btn-swatch:hover {
        box-shadow: inset 0 0 0 1px var(--color-black);
    }
}

.product-card__tags {
    display: flex;
    position: absolute;
    top: 16px;
    left: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    word-break: break-word;
}
.product-card__badge {
    min-width: 50px;
    padding: 4px 12px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.166;
}
.product-card__badge--default {
    background-color: var(--color-white);
    box-shadow: inset 0 0 0 1px var(--color-grey-light);
    color: var(--color-black);
}
.product-card__badge--sale {
    background-color: var(--color-red);
    color: white;
}

.product-card__title {
    color: var(--color-black);
    font-weight: 400;
    font-size: 16px;
    transition: all 150ms ease 0s;
    word-break: break-word;
}
.product-card__title:hover {
    color: var(--color-grey-dark);
}
.product-card__title-link {
    color: inherit;
    text-decoration: none;
}

.product-card__price {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    color: var(--color-black);
    font-weight: 500;
}
.product-card__price--sale {
    color: var(--color-red);
}

.product-card__price--compare {
    color: var(--color-grey-dark);
    line-height: 1.44;
    text-decoration: line-through;
}

.product-card__actions {
    display: flex;
    z-index: 20;
    position: absolute;
    top: 16px;
    right: 16px;
    flex-direction: column;
    gap: 12px;
}

.product-card__button {
    padding: 12px;
    border: 0;
    border-radius: 12px;
    background-color: var(--color-white);
    box-shadow: inset 0 0 0px 1px var(--color-grey-ligh);
    cursor: pointer;
    transition: all 250ms ease 0s;
}

@media (hover: hover) {
    .product-card__button {
        opacity: 0;
    }

    .product-card:hover .product-card__button {
        opacity: 1;
    }
}

.product-card__button svg {
    width: 24px;
    height: 24px;
}
.product-card__button:not([disabled]):hover {
    box-shadow: inset 0 0 0px 1px var(--color-black);
}

.product-card__button[disabled] {
    cursor: default;
    opacity: 0.5;
}

@media (max-width: 767px) {
   
    .product-card__actions {
        top: 8px;
        right: 8px;
        gap: 4px;
    }

    .product-card__button {
        padding: 12px;
    }

    .product-card__button svg {
        width: 16px;
        height: 16px;
    }

    .product-card__swatches {
        gap: 5px;
    }
    .product-card__btn-swatch {
        width: 24px;
        height: 24px;
        padding: 6px;
        transform: translateY(-2px);
    }

    .product-card__btn-swatch.is--active {
        padding: 4px;
        transform: translateY(0px);
    }

    .product-card__title {
        margin-top: -8px;
    }

    .product-card__price {
        font-size: 14px;
        line-height: 1.1286;
    }
    .product-card__price--compare {
        line-height: inherit;
    }
}